<ul>
<%= javascript_include_tag "register_location" %>
<% @endpoints.each do |endpoint| %>
<li>
  <%= link_to( endpoint.to_s, endpoint,
                :confirm => 'Are you sure?',
                :method => :delete ) %>
</li>
<% end %>
</ul>