<script src="http://js.pusherapp.com/1.9/pusher.min.js" type="text/javascript"></script>
<script type="text/javascript">

  // Enable pusher logging - don't include this in production
  Pusher.log = function(message) {
    if (window.console && window.console.log) window.console.log(message);
  };

  // Flash fallback logging - don't include this in production
  WEB_SOCKET_DEBUG = true;

  var pusher = new Pusher('73b24d21001257fdf1db');
  var channel = pusher.subscribe('test_channel');
  channel.bind('my_event', function(data) {
    alert(data);
  });
  
</script>
<ul>
<% @endpoints.each do |endpoint| %>
<li>
  <%= link_to( endpoint.to_s, endpoint,
                :confirm => 'Are you sure?',
                :method => :delete ) %>
</li>
<% end %>
</ul>