<!DOCTYPE html>
<html>
<head>
  <title>Beam</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <script src="http://js.pusherapp.com/1.9/pusher.min.js" type="text/javascript"></script>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
